<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find magician)/urdf/demo.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />

  <node
    name="magician_fake_joint_state_publisher"
    pkg="magician"
    type="magician_fake_joint_state_publisher" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find magician)/config/demo.rviz"/>
</launch>
